@font-face {
  font-family: Porter;
  src: url('fonts/Porter Light.otf');
}

@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: Roboto-Bold;
  src: url('fonts/Roboto-Bold.ttf');
}

html {
	font-family: Porter;
}
body {
	padding: 0;
	margin: 0;
	font-family: Porter;
}

section {
	display: flex;
	position: relative;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

.content-background {
	display: flex;
	position: relative;
	width: 100%;
	overflow: hidden;
}

.content-background.half-width {
	width: 50%;
}

.content-background .overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

.content-background .content-wrapper {
	position: relative;
}


/* section -1 */

section.sec-1 .content-background {
	justify-content: flex-end;
	background-image: url(img/sec-1.jpg);
	background-size: cover;
	background-position-x: center;
}

section.sec-1 .content-background .content-wrapper{
	width: 55%;
	background-color: rgb(118, 188, 67, 0.75);
	clip-path: polygon(90% 0%, 100% 0%, 100% 100%, 0% 100%);
}

section.sec-1 .content-wrapper .content {
	position: absolute;
	right: 5%;
	bottom: 5%;
}

section.sec-1 .content-wrapper .content p {
	text-align: right;
	padding: 0;
	margin: 0;
}

section.sec-1 .content-wrapper .content .description {
	font-size: 0.75rem;
	color: white;
}

section.sec-1 .content-wrapper .content .logo {
	font-size: 2rem;
	font-weight: bold;
	color: white;
	padding: 10px 0 15px 0;
}

section.sec-1 .content-wrapper .content .footer {
	font-size: 1rem;
	font-weight: bold;
	color: rgb(38, 38, 38);
}


/* section -2 */

section.sec-2 .content-background {
	justify-content: flex-start;
	background-image: url(img/sec-2.jpg);
	background-size: 85% auto;
	background-position-x: 100%;
	background-position-y: 60%;
	background-repeat: no-repeat;
}

section.sec-2 .content-background .content-wrapper{
	width: 45%;
	background-color: white;
	clip-path: polygon(0% 0%, 100% 0%, 40% 100%, 0% 100%);
}

section.sec-2 .content-background .content-wrapper .content {
	padding: 0;
	text-align: justify;
}

section.sec-2 .content-background .content-wrapper .content .shape{

	shape-outside: polygon(100% 0%, 100% 0%, 100% 100%, 40% 100%);
	clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 40% 100%);
	shape-margin: 10px;
	width: 100%;
	height: 100vh;
	background-color: #FFF;
	float: right;
	shape-margin: 1rem;
}

section.sec-2 .content-background .content-wrapper .content p {
	padding: 0;
	margin: 0;
}

section.sec-2 .content-background .content-wrapper .content .title {
	font-family: Roboto;
	padding: 3rem 0 1rem 2rem;
}

section.sec-2 .content-background .content-wrapper .content .title span {
	padding: 0;
	margin: 0;
}
section.sec-2 .content-background .content-wrapper .content .title span:nth-child(1) {
	font-size: 2rem;
	color: black;
}

section.sec-2 .content-background .content-wrapper .content .title span:nth-child(2) {
	font-family: Roboto-Bold;
	font-size: 5rem;
	line-height: 0.5;
	color: rgb(118, 188, 67);
}

section.sec-2 .content-background .content-wrapper .content .description {
	font-family: Roboto;
	font-size: 1rem;
	color: white;
	padding: 0.75rem 2rem;
	margin-bottom: 10px;
	margin-top: 0px;
}


/* section -2 */

section.sec-3 .content-background {
	justify-content: flex-end;
	background-image: url(img/sec-3.jpg);
	background-size: 80% auto;
	background-position-y: center;
	background-repeat: no-repeat;
}

section.sec-3 .content-background .content-wrapper{
	width: 40%;
	background-color: white;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 60% 100%);
	margin-right: 2rem;
}

section.sec-3 .content-background .content-wrapper .content {
	text-align: justify;
}

section.sec-3 .content-background .content-wrapper .content .shape{

	shape-outside: polygon(0% 0%, 0% 0%, 60% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 0% 0%, 60% 100%, 0% 100%);
	width: 100%;
	height: 100vh;
	background-color: #FFF;
	float: left;
	shape-margin: 1rem;
}

section.sec-3 .content-background .content-wrapper .content p {
	font-size: 1rem;
	padding: 0;
	margin: 0;
	color: black;
	margin-bottom: 10px;
	line-height: 1.2;
}

section.sec-3 .content-background .content-wrapper .content p span{
	font-family: Roboto;
	font-size: 0.8rem;
	padding: 0;
	margin: 0;
	color: black;
}

.white {
	background-color: white;
}

.grey {
	background-color: #333333;
}

.green {
	background-color: #76bc43;
}

.orange {
	background-color: #cc5500;
}